html {
  box-sizing: border-box;
  font-family: 'Authentic Sans', sans-serif;
}

body {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  all: initial;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Terminal Grotesque', serif;
}
