html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Authentic Sans", sans-serif;
}

input {
  all: initial;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Terminal Grotesque", serif;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: blue;
}
a:hover {
  color: #9bfc75;
}

button {
  all: initial;
  font-family: "Terminal Grotesque", serif;
  padding: 0.7em 1em;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  color: blue;
}
button:hover {
  transform: translateY(1px);
  color: #9bfc75;
}
button:active {
  transform: translateY(-1px);
}
button:disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed;
}
