@font-face {
  font-family: "Authentic Sans";
  src: url("/fonts/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Terminal Grotesque";
    src: url("/fonts/terminal-grotesque-webfont.eot");
    src: url("/fonts/terminal-grotesque-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/terminal-grotesque-webfont.woff2") format("woff2"),
         url("/fonts/terminal-grotesque-webfont.woff") format("woff"),
         url("/fonts/terminal-grotesque-webfont.ttf") format("truetype"),
         url("/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
